<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
    <title>Add Product</title>
</head>
<body>

    {% include "navbar_private.html" %}

    <h1>Add a New Product</h1>
    
    <form action="{{ url_for('add_product') }}" method="POST">
        <label for="name">Product Name:</label>
        <input type="text" name="name" id="name" required><br><br>

        <label for="description">Description:</label>
        <input type="text" name="description" id="description" required><br><br>

        <label for="price">Price:</label>
        <input type="number" name="price" id="price" step="0.01" required><br><br>

        <label for="image_url">Image URL:</label>
        <input type="text" name="image_url" id="image_url" required><br><br>

        <label for="category">Category:</label>
        <input type="text" name="category" id="category"><br><br>

        <button type="submit">Add Product</button>
    </form>

    <br><br>
    <a href="{{ url_for('admin_dashboard') }}">Back to Admin Dashboard</a>

    {% include "footer.html" %}
</body>
</html>
