<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
    <title>Error</title>
</head>
<body>
    {% include "navbar_private.html" %}

    <h1>Payment Failed</h1>

    <p>There was an error processing your payment. Please try again.</p>

    <a href="{{ url_for('cart') }}">Back to Cart</a>

    <a href="{{ url_for('products') }}">Continue Shopping</a>

    {% include "footer.html" %}
</body>
</html>