<div class="navbar">
    <img class="logo-img" src="{{ url_for('static', filename='images/default_logo.png') }}" />
    <span class="hamburger">&#9776;</span> <!-- Hamburger Icon -->
    <div class="navbar-right" id="navbarRight">
        <span class="closebtn">&times;</span>
        
        <!-- Existing pages -->
        <a href="{{ url_for('dashboard') }}">Dashboard</a>

        <a href="{{ url_for('products') }}">Products</a>
        <a href="{{ url_for('cart') }}">Cart</a>
        <a href="{{ url_for('checkout') }}">Checkout</a>
        
        <div class="dropdown">
            <a class="dropbtn" id="dropBtn">Admin</a>
            <div class="dropdown-content">
                <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
                <a href="{{ url_for('add_product') }}">Add Product</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="dropbtn" id="dropBtn">Account</a>
            <div class="dropdown-content">
                <a href="#profile">Profile</a>
                <a href="#settings">Settings</a>
                <a id="sign-out-btn" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>

    </div>
</div>
